attrs==20.3.0
bson==0.5.10
click==7.1.2
coverage==5.5
devtools==0.6.1
fastapi==0.63.0
h11==0.12.0
importlib-metadata==3.7.3
iniconfig==1.1.1
mongoengine==0.23.0
mongomock==3.22.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydantic==1.8.1
PyJWT==2.0.1
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2021.1
sentinels==1.0.0
six==1.15.0
starlette==0.13.6
toml==0.10.2
typing-extensions==3.7.4.3
ujson==4.0.2
uvicorn==0.13.4
zipp==3.4.1
